In [31]:
#Importing the packages
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc  # Import the 'desc' function

In [32]:
#Creating the SparkSession
spark = SparkSession.\
    builder.\
        appName("sparksql").\
        getOrCreate()

In [33]:
#Creating DataFrame on a CSV file
data = spark.read.format("csv")\
    .option("inferSchema",'true')\
    .option('header', 'true')\
    .option("path","operations_management.csv")\
    .load() 

# loads the data from the specified CSV file into a DataFrame (people).
# 'inferSchema' will determine whether a column contains integers, strings, doubles, etc., based on the data it reads.
# 'header' .> true tells the first row of csv contains headers.
# Notes:
# For creating a df, there're several methods.
# For creating a DataFrame, we have to pass the schema.

In [34]:
# Print the schema of the df
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [35]:
# Transformation of the DataFrame to select columns and filter and sort in descending order
data2 = data.select("industry", "value") \
            .filter((data["value"] > 5000) & (data["industry"] != "total")) \
            .orderBy(desc("value"))

# We're not changing the dataframe, we create a new dataframe to perform the transformations.

In [36]:
# Print the schema and display the resulting df
data2.printSchema()
data2.show()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
+--------------------+-----+

In [37]:
# Create a temporary view named 'dataSQL'
data2.createOrReplaceTempView("dataSQL")

# This is for run SQL queries in the view.

# Notes:
# Its a temporary view. Views are essentially virtual tables that are defined by a SELECT statement. 
# Allows users familiar with SQL to work in the df. And perform complex data analysis & manipulation

In [38]:
# Running an SQL query on a temporary view 'dataSQL' and return a Df
spark.sql("""SELECT * 
          FROM dataSQL 
          WHERE value > 100
          """).show()

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
+--------------------+-----+