In [1]:
# import libraries
import pyspark
from pyspark.sql import SparkSession

In [2]:
# Create a SparkSession for local execution
spark = SparkSession.builder.master("local").appName("first_spark_app").getOrCreate()

In [5]:
# define the data and columns
data = [
    ("Alice", "Smith", "1985-01-15", 55000.0, "USD", "Software Engineer", "Bachelor's Degree", 5),
    ("Bob", "Johnson", "1992-03-20", 42000.0, "EUR", "Data Analyst", "Master's Degree", 3),
    ("Charlie", "Brown", "1978-07-08", 68000.0, "GBP", "Financial Analyst", "PhD", 8),
    ("David", "Lee", "1995-11-12", 38000.0, "JPY", "Marketing Specialist", "Bachelor's Degree", 2),
    ("Emily", "Davis", "1980-05-25", 72000.0, "CAD", "Product Manager", "Master's Degree", 7),
    ("Frank", "Miller", "1975-09-10", 80000.0, "AUD", "Sales Manager", "Bachelor's Degree", 12),
    ("Grace", "Wilson", "1990-02-22", 35000.0, "NZD", "Customer Service", "High School Diploma", 1),
    ("Henry", "Thomas", "1988-06-05", 48000.0, "CHF", "Project Manager", "Master's Degree", 6),
    ("Ivy", "Taylor", "1993-10-18", 32000.0, "SEK", "HR Specialist", "Bachelor's Degree", 3),
    ("Jack", "Harris", "1972-12-30", 75000.0, "NOK", "Operations Manager", "MBA", 15),
    ("Karen", "Carter", "1998-04-07", 30000.0, "KRW", "Junior Developer", "Bachelor's Degree", 1),
    ("Laura", "Turner", "1982-08-19", 50000.0, "TRY", "Accountant", "Bachelor's Degree", 4),
    ("Mark", "Walker", "1996-01-25", 33000.0, "BRL", "Designer", "Associate's Degree", 2),
    ("Nancy", "Baker", "1977-03-08", 65000.0, "INR", "Lawyer", "Law Degree", 10),
    ("Olivia", "Hill", "1991-07-12", 37000.0, "RUB", "Data Scientist", "Master's Degree", 4),
    ("Paul", "Rivera", "1984-05-20", 70000.0, "ZAR", "Engineer", "Bachelor's Degree", 8),
    ("Quinn", "Scott", "1999-09-03", 28000.0, "MXN", "Intern", "High School Diploma", 0),
    ("Rachel", "Clark", "1987-11-28", 58000.0, "CZK", "Marketing Manager", "MBA", 7),
    ("Sarah", "Morgan", "1994-02-16", 31000.0, "PLN", "Sales Associate", "Bachelor's Degree", 2),
    ("Thomas", "Wright", "1973-06-01", 85000.0, "THB", "CEO", "PhD", 25)
]

columns = [
    "firstname",
    "lastname",
    "dateofbirth",
    "salary",
    "currency",
    "job_title",
    "education",
    "experience"
]

In [6]:
# Create a DataFrame from the data and columns
df = spark.createDataFrame(data, schema=columns)

In [7]:
# show the dataframe
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dateofbirth: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- education: string (nullable = true)
 |-- experience: long (nullable = true)